html {
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}

.error-message {
  color: var(--ion-color-danger, #ff0000);
  font-size: small;
}

ion-content {
  --background: linear-gradient(white, var(--ion-color-secondary));
}

@media (prefers-color-scheme: dark) {
  ion-content {
    --background: linear-gradient(var(--ion-background-color), var(--ion-color-secondary));
  }
}

.list-ios {
  background: transparent;
}

.list-md {
  background: transparent;
}

.item {
  --background: transparent;
}

ion-list-header {
  --background: transparent;
}

ion-card {
  border-radius: 20px;
}

ion-select::part(icon) {
  width: 20px;
  border: 1px solid;
  border-radius: 4px;
}

ion-select::part(text) {
  margin-right: 1rem;
}

dd {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

dt {
  font-weight: bold;
}
